<div style="display: flex; flex-direction: column; width: 100%; margin: 2rem;">    
    <h3 class="titulo"> {{ title }} </h3>

    <div>
        <app-mat-select
            placeholder = 'Partida'
            [elements] = p1
        />
        <input type="text"> //meter mat input
    </div>

    <section class="grupo-visados">
        <h3>Visados pendientes de carga</h3>
        @for (v of visadosEnEvaluacion; track v.numero) {
            <app-visado-card [visado]="v"></app-visado-card>
        }
    </section>

    <app-mat-select
        placeholder = 'Partida'
        [elements] = p2
    />
    <input type="text">

    <section class="grupo-visados">
        <h3>Visados presentados</h3>
        @for (v of visadosPresentados; track v.numero) {
            <app-visado-card [visado]="v"></app-visado-card>
        }
    </section>

</div>